.footer {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    
    a {
        display: block;
        text-decoration: none;
        color: #33C3F0;
        margin: 1rem 0;
    }
}